---
page_title: "{{.Name}} {{.Type}} - visionone"
subcategory: "Cloud Risk Management"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Basic Profile Without Rules

{{ tffile "examples/crm/resources/profile/resource-without-rules.tf"}}

### Profile With Scan Rules (All Setting Types)

{{ tffile "examples/crm/resources/profile/resource-with-rules.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import visionone_crm_profile.example <profile_id>
```
