---
page_title: "{{.Name}} {{.Type}} - visionone"
subcategory: "Cloud Risk Management"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Basic Custom Rule

{{ tffile "examples/crm/resources/visionone_crm_custom_rule/resource-basic.tf"}}

### Multiple Attributes and Event Rules

{{ tffile "examples/crm/resources/visionone_crm_custom_rule/resource-multiple-attributes.tf"}}

### Using "Any" Operator

{{ tffile "examples/crm/resources/visionone_crm_custom_rule/resource-any-operator.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import visionone_crm_custom_rule.example <custom_rule_id>
```
